<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>account page</title>
    <link rel="icon" type="image/png" href="flask_app/static/img/favicon.ico"/>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/util.cs') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/main.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/vendor/animate/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/vendor/perfect-scrollbar/perfect-scrollbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/pet.css') }}">
   
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
        a{
            text-decoration: none;
            color: #6c7ae0;
        }

        .adoption{
            width: 1016px;
            height: 650px; 
            overflow: auto;   
        }
        .watchlist{
            width: 1016px;
        }
        
    </style>
</head>

<body>
    <div class="flex">
        <div class="header justify-content-around">
            <h1 style="color:rgb(24, 21, 24); font-family: Arial, Helvetica, sans-serif">Welcome {{user.first_name}}</h1>
            <div> 
                <a href="/new/application">
                <button class="btn btn-outline-dark m-1">
                    <i class="fas fa-paw"></i>
                    Start an application
                </button></a>
                <a href="/logout">
                <button class="btn btn-outline-dark m-1" >
                    Logout
                </button></a>
                <a href="/dashboard">
                    <button class="btn btn-outline-dark m-1" >
                        Home page
                    </button></a>
            </div>
        </div>
               <!-- account verification alert -->
             {% if not session["email_is_confirm"] %}
            <div class="alert alert-warning d-flex justify-content-between" role="alert">
                 You have NOT verify your account! Please check {{user.email}}'s inbox
              <input type="button" value="Close" class="btn btn-warning" onclick="hide()"/>
            </div>
            {% else %}
            <div class="alert alert-success d-flex justify-content-between" role="alert">
                You have verify your email address: {{user.email}}!
             <input type="button" value="Close" class="btn btn-success" onclick="hide()"/>
           </div>
            {% endif %}
      
          
        <h3 style="font-family: 'Dancing Script', cursive;" class="ml-5 mt-2">Pet Adoption History</h3>
        <div class="table adoption">
            <div class="limiter">
                <div class="container-table100">
                    <div class="wrap-table100">
                        <div class="table100 ver1 m-b-110">
                            <div class="table100-head">
                                <table>
                                    <thead>
                                        <tr class="row100 head">
                                            <th class="cell100 column1">Pet Name</th>
                                            <th class="cell100 column2">Date of adoption</th>
                                            <th class="cell100 column3">Actions to the application</th>
                                        
                                        </tr>
                                    </thead>
                                </table>
                            </div>
        
                            <div class="table100-body js-pscroll">
                                <table>

                                    <tbody>
        
                                        {% for pet in user.pets %}
                                        <tr class="row100 body">
                                            <td class="cell100 column1">{{pet.name}}</td>
                                            <td class="cell100 column2">{{pet.created_at.strftime("%B %d, %Y")}}</td>
                                            <td class="cell100 column3"><a href="/pet/{{pet.id}}">view application &nbsp;<i class="fas fa-eye"></i></a>{%if session['user_id'] == pet.user_id%} <a href="/pet/{{pet.id}}/edit">edit &nbsp;<i class="fas fa-edit"></i></a>  <a href="/pet/{{pet.id}}/delete">delete &nbsp;<i class="far fa-trash-alt"></i></a> {%endif%}</td>
                                        </tr>
                                        {% endfor %}    
                                       
                                         </tbody>           
                            </table>
                            
        </div>
    </div>

<div style="position: relative; top:200px;">
    <h2 style="font-family: 'Dancing Script', cursive;">Pet Watchlist</h2>
    <table class="table watchlist table-hover">
        <thead>
          <tr>
            <th scope="col" style="width:150px">Pet Name</th>
            <th scope="col">Pet's online profile</th>
            <th class="cell100 column3">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% if "watch_name" in session%}
         {% for i in range(session["watch_name"] |length)%}
          <tr>
            <td>{{session["watch_name"][i]}}</td>
            <td><a href="{{session['watch_url'][i]}}">{{session["watch_url"][i]}}</a></td>
            <td class="cell100 column3"> <a href="/delete_watch/{{i}}">delete &nbsp;<i class="far fa-trash-alt"></i></a></td>
          </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

    

    <script type="text/javascript" src="{{ url_for('static', filename='/vendor/jquery/jquery-3.2.1.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='/vendor/bootstrap/js/popper.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='/vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='/vendor/select2/select2.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='/vendor/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>

 
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
			
		var msg = document.querySelector(".alert")
        function hide(){
            msg.remove();
        }

	</script>
<!--===============================================================================================-->

    <script type="text/javascript" src="{{ url_for('static', filename='/js/main.js') }}"></script>

</body>

</html>