<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>account page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/application.css') }}">
    <style>
        body {
            background-image: url("https://cdn.wallpapersafari.com/52/63/93l8vM.png");
            background-color: rgba(255, 255, 255, 0.3);
            background-blend-mode: lighten;
        }

        .btn {
            position: relative;
            left: 10px;
            top: 15px
        }
    </style>
</head>

<body>
    <div class="flex">
        <div class="header">
            <div>
                <h1 style="font-family: Arial, Helvetica, sans-serif">Adoption application</h1>
                <h3 style="font-family: 'Dancing Script', cursive" class="mt-5">* Please start the application by
                    filling out the pet's and the adopter's information
                    <br> * Some animals might have been adopted
                </h3>
            </div>

            <div>
                <a href="/account">
                    <button class="btn btn-outline-dark m-1">
                        <i class="fas fa-paw"></i>
                        Account page
                    </button></a>&nbsp;&nbsp;
                <a href="/logout">
                    <button class="btn btn-outline-dark m-1">
                        Logout
                    </button></a>
            </div>
        </div>

        <form action="/create" method="POST" class="mt-5">
            <div class="left">
                <div class="form-group">
                    <label for="n">Pet's name:</label>
                    {% with title_error = get_flashed_messages(category_filter=["name"])%}
                    {% for message in title_error %}
                    <p class="col-8 text-danger">{{message}}</p>
                    {% endfor %}
                    {% endwith %}
                    <input type="text" class="form-control" name="name" id="n" />
                </div>
                <div class="form-group">
                    <label for="n">Pet's breed:</label>
                    {% with title_error = get_flashed_messages(category_filter=["breed"])%}
                    {% for message in title_error %}
                    <p class="col-8 text-danger">{{message}}</p>
                    {% endfor %}
                    {% endwith %}
                    <input type="text" class="form-control" name="breed" id="n" />
                </div>
                <div class="form-group">
                    <label for="n">Pet's age(year-old):</label>
                    {% with title_error = get_flashed_messages(category_filter=["age"])%}
                    {% for message in title_error %}
                    <p class="col-8 text-danger">{{message}}</p>
                    {% endfor %}
                    {% endwith %}
                    <input type="number" step="0.01" class="form-control" name="age" id="n" />
                </div>
                <div class="form-group">
                    <label for="n">Pet's gender:</label>
                    {% with title_error = get_flashed_messages(category_filter=["gender"])%}
                    {% for message in title_error %}
                    <p class="col-8 text-danger">{{message}}</p>
                    {% endfor %}
                    {% endwith %}
                    <input type="text" class="form-control" name="gender" id="n" />
                </div>
                <div class="form-group">
                    <label for="n">Pet's weight(kg):</label>
                    {% with title_error = get_flashed_messages(category_filter=["weight"])%}
                    {% for message in title_error %}
                    <p class="col-8 text-danger">{{message}}</p>
                    {% endfor %}
                    {% endwith %}
                    <input type="number" step="0.01" class="form-control" name="weight" id="n" />
                </div>
                <div class="form-group">
                    <label for="des">Pet's description:</label>
                    {% with title_error = get_flashed_messages(category_filter=["description"])%}
                    {% for message in title_error %}
                    <p class="col-8 text-danger">{{message}}</p>
                    {% endfor %}
                    {% endwith %}
                    <textarea type="text" class="form-control" name="description" id="des"></textarea>
                </div>


                <input type="submit" value="Apply Now" class="btn btn-warning">
            </div>

            <div class="right">

                <p>Are you older than 18 years of age?</p>
                {% with title_error = get_flashed_messages(category_filter=["adopter_old_enough"])%}
                {% for message in title_error %}
                <p class="col-8 text-danger">{{message}}</p>
                {% endfor %}
                {% endwith %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="adopter_old_enough" id="old" value="yes"
                        checked />
                    <label class="form-check-label" for="old"> Yes </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="adopter_old_enough" id="young" value="no" />
                    <label class="form-check-label" for="young"> No </label>
                </div>

                <p class="mt-5">Do you have a stable source of income?</p>
                {% with title_error = get_flashed_messages(category_filter=["adopter_stable_income"])%}
                {% for message in title_error %}
                <p class="col-8 text-danger">{{message}}</p>
                {% endfor %}
                {% endwith %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="adopter_stable_income" id="stable" value="yes"
                        checked />
                    <label class="form-check-label" for="stable"> Yes </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="adopter_stable_income" id="unstable"
                        value="no" />
                    <label class="form-check-label" for="unstable"> No </label>
                </div>
            </div>
        </form>
</body>

</html>