<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            padding:65px;
            background-image: url("https://t3.ftcdn.net/jpg/00/84/55/66/360_F_84556601_W71hd1xmCxZUhsscyNlokY1an7Kqx6ZJ.jpg");
            background-color: rgba(255,255,255,0.3);
        }
        

    </style>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-end">
        <a href="/new/application" target="_blank" rel="noopener noreferrer">
        <button class="btn btn-outline-dark m-1">
            <i class="fas fa-paw"></i>
            Start an application
        </button></a>&nbsp;&nbsp;
        <a href="/dashboard">
            <button class="btn btn-outline-dark m-1" >
                Go back
            </button></a>

    </div>
    
    <h1 style="color: purple; font-family: Arial, Helvetica, sans-serif;">Meet Beatrice</h1>

    <p>
        Majestic Beatrics is looking for a family she can retire with. Are you part of her retirement plan?
Beatrics came into our care as a stray, and although we don’t know her history, we do know how much her craves a family to call her own. Beatrics is a sweet, loving cat who would love to tell you all of her tales and adventures, while he happily drools on your lap. Once comfortable, which doesn’t seem to take very long, she will lovingly greet you with a head boop. Beatrics does tend to be overstimulated by too much physical attention, so his family will need to be able to tell when she’s had enough attention…for now. That being said, she would do best in a home that is able to read her body language and with no young children. While in shelter, Beatrics has shown how much she needs to be the king of her own castle! Beatrics would do best in a home as the only animal, to reign over her kingdom. Sometimes Beatrics doesn’t always hear us coming, so we do believe she may be deaf. That being said, Beatrics will need to be an indoor cat to keep her safe.
Do you have room in your heart and home for this gentle soul?

An adoption counseling session with our Adoption Staff is necessary before adopting any animal.

Please note due to the current COVID-19 pandemic our adoption process has changed.  All adoptions are by appointment only once we have received an application.
***Due to the high number of applications we receive for our animals, we will only be contacting potential adopters to further review their application. We are not able to call all applicants.***
    </p>

    <h1 style="color: purple; font-family: Arial, Helvetica, sans-serif;">About Me</h1>

    <p>Days in care: 14 <br>
        Approximate age: 10 years old<br>
        Breed: Domestic Chartreux Cat<br>
        Weight: 5.45 kg<br>
        Gender: Female<br>
        Location: Maple Ridge Branch, Maple Ridge B.C. (20km)<br>
        Animal ID: 533375<br>
        Spay or neuter surgery is included with the adoption of all dogs, cats and rabbits.</p>
</body>
</html>