<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            padding:65px;
            background-image: url("https://t3.ftcdn.net/jpg/00/84/55/66/360_F_84556601_W71hd1xmCxZUhsscyNlokY1an7Kqx6ZJ.jpg");
            background-color: rgba(255,255,255,0.3);
        }

    </style>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-end"> <a href="/new/application" target="_blank" rel="noopener noreferrer">
        <button class="btn btn-outline-dark m-1">
            <i class="fas fa-paw"></i>
            Start an application
        </button></a>&nbsp;&nbsp;
        <a href="/dashboard">
            <button class="btn btn-outline-dark m-1" >
                Go back
            </button></a>
    </div>
    
    <h1 style="color: purple; font-family: Arial, Helvetica, sans-serif;">Meet Small Fry</h1>

    <p>
        This guinea pig is looking for a new house! Do you have space in your heart and home for some extra nice mice? These little fellows came into care and are now ready to find their forever homes. They haven’t had a lot of experience being handled and some of them will need more work on socializing with humans then others. Pairing interactions with high value rewards will help them learn to trust people and feel comfortable when being handled. Small Fry has made great progress working with staff at the shelter and will happily climb on your hand for food.

        These little mice love to explore their aquariums, investigating tunnels and building burrows! They would love a guardian who will indulge them with enrichment activities to keep their lives interesting!
        
        Thank you for your interest in adopting from us! Due to the high number of applications we receive for our animals, we will only be contacting potential adopters to further review their application.

Please note, due to the current COVID-19 pandemic our adoption process has changed. Please visit our website https://spca.bc.ca/adoption/how-to-adopt/ for more information and to apply for the animal you are interested in. All adoptions are by appointment only once we have received and approved an application.

    <h1 style="color: purple; font-family: Arial, Helvetica, sans-serif;">About Me</h1>

    <p>Days in care: 465 <br>
        Approximate age: 1 year old<br>
        Breed: Small Guinea Pig <br>
        Weight: 0.048 kg<br>
        Gender: Male<br>
        Location: Maple Ridge Branch, Maple Ridge B.C. (20km)<br>
        Animal ID: 533375<br>
        Spay or neuter surgery is included with the adoption of all dogs, cats and rabbits.</p>
</body>
</html>