<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/login.css') }}">
</head>

<body>

    <div class="row">
        <div class="col-md-6 mx-auto p-0">
            <div class="card">
                <div class="login-box">
                    <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label
                            for="tab-1" class="tab">Login</label> <input id="tab-2" type="radio" name="tab"
                            class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                        <div class="login-space">
                           
                            <form action="/login" method="POST">
                                <div class="login">
                                    <div class="group"> <label for="user" class="label">Email</label>
                                        {% with title_error = get_flashed_messages(category_filter=["lemail"])%}
                                        {% for message in title_error %}
                                        <p class="col-8 text-danger">{{message}}</p>
                                        {% endfor %}
                                        {% endwith %}
                                        <input id="user" type="text" class="input" name="lemail" >
                                    </div>
                                    <div class="group"> <label for="pass" class="label">Password</label>
                                        {% with title_error = get_flashed_messages(category_filter=["lpassword"])%}
                                        {% for message in title_error %}
                                        <p class="col-8 text-danger">{{message}}</p>
                                        {% endfor %}
                                        {% endwith %} <input id="pass" type="password" class="input"
                                            data-type="password" name="lpassword">
                                    </div>
                                    <div class="group"> <input id="check" type="checkbox" class="check" name="remember"> <label
                                            for="check"><span class="icon"></span> Keep me Signed in</label> </div>
                                    <div class="group"> <input type="submit" class="button" value="Sign In"> </div>
                                    <div class="hr"></div>
                                    <div class="foot"> <a href="#">Forgot Password?</a> </div>
                                </div>
                            </form>

                            <form action='/register' method="post">
                                <div class="sign-up-form">
                                    <div class="group"> <label for="user" class="label">First Name</label>
                                        {% with title_error = get_flashed_messages(category_filter=["first_name"])%}
                                        {% for message in title_error %}
                                        <p class="col-8 text-danger">{{message}}</p>
                                        {% endfor %}
                                        {% endwith %}<input id="user" type="text" class="input"
                                            name="first_name">
                                    </div>
                                    <div class="group"> <label for="user" class="label">Last Name</label>
                                        {% with title_error = get_flashed_messages(category_filter=["last_name"])%}
                                        {% for message in title_error %}
                                        <p class="col-8 text-danger">{{message}}</p>
                                        {% endfor %}
                                        {% endwith %}<input id="user" type="text" class="input"
                                            name="last_name">
                                    </div>
                                    <div class="group"> <label for="pass" class="label">Email Address</label>
                                        {% with title_error = get_flashed_messages(category_filter=["email"])%}
                                        {% for message in title_error %}
                                        <p class="col-8 text-danger">{{message}}</p>
                                        {% endfor %}
                                        {% endwith %}<input id="pass" type="text" class="input"
                                             name="email">
                                    </div>
                                    <div class="group"> <label for="pass" class="label">Password</label>
                                        {% with title_error = get_flashed_messages(category_filter=["password"])%}
                                        {% for message in title_error %}
                                        <p class="col-8 text-danger">{{message}}</p>
                                        {% endfor %}
                                        {% endwith %} <input id="pass" type="password" class="input"
                                            data-type="password"  name="password">
                                        <p>At least 8 characters with one uppercase and one number no special characters</p>
                                    </div>
                                    <div class="group"> <label for="pass" class="label">Repeat Password</label> <input
                                            id="pass" type="password" class="input" data-type="password"
                                            name="cpassword"> </div>
                                    <div class="group"> <input type="submit" class="button" value="Sign Up"> </div>
                                    <div class="hr"></div>
                                    <div class="foot"> <label for="tab-1">Already Member?</label> </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>