<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            padding:65px;
            background-image: url("https://t3.ftcdn.net/jpg/00/84/55/66/360_F_84556601_W71hd1xmCxZUhsscyNlokY1an7Kqx6ZJ.jpg");
            background-color: rgba(255,255,255,0.3);
        }

    </style>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-end"> <a href="/new/application" target="_blank" rel="noopener noreferrer">
        <button class="btn btn-outline-dark m-1">
            <i class="fas fa-paw"></i>
            Start an application
        </button></a>&nbsp;&nbsp;
        <a href="/dashboard">
            <button class="btn btn-outline-dark m-1" >
                Go back
            </button></a>
    </div>
    
    <h1 style="color: purple; font-family: Arial, Helvetica, sans-serif;">Meet William</h1>

    <p>
        This is William! He is a very special boy looking to start his life over again in a new home! William is very loving and sweet but has unfortunately lost his owner recently and is learning to navigate life through this big change. William is a fairly outgoing guy and will happily jump down to greet everyone he meets. He also can be quite playful! William loves his toys almost as much as his favourite treat, catnip! A relatively quiet home would be best for this boy to spend laying in sunbeams and watching the world go by.

If you would like to adopt William please fill out an online application!
    </p>

    <h1 style="color: purple; font-family: Arial, Helvetica, sans-serif;">About Me</h1>

    <p>Days in care: 22 <br>
        Approximate age: 12 years old<br>
        Breed: Domestic Short Hair Cat<br>
        Weight: 4.83 kg<br>
        Gender: Male<br>
        Location: Maple Ridge Branch, Maple Ridge B.C. (20km)<br>
        Animal ID: 533375<br>
        Spay or neuter surgery is included with the adoption of all dogs, cats and rabbits.</p>
</body>
</html>