<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            padding:65px;
            background-image: url("https://t3.ftcdn.net/jpg/00/84/55/66/360_F_84556601_W71hd1xmCxZUhsscyNlokY1an7Kqx6ZJ.jpg");
            background-color: rgba(255,255,255,0.3);
        }
    </style>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="d-flex justify-content-end"> <a href="/new/application" target="_blank" rel="noopener noreferrer">
        <button class="btn btn-outline-dark m-1">
            <i class="fas fa-paw"></i>
            Start an application
        </button></a>&nbsp;&nbsp;
        <a href="/dashboard">
            <button class="btn btn-outline-dark m-1" >
                Go back
            </button></a>
    </div>
    
    <h1 style="color: purple; font-family: Arial, Helvetica, sans-serif;">Meet Zoey</h1>

    <p>
        ***Due to the high number of applications we receive for our animals, we will only be contacting potential adopters to further review their application***’Zoey’ was a recent surrender with her mother, ‘Tag. It would be nice for them to find a home together. Tag can be shy at first, but very loving once she gets to know you. Very cuddly, loves to sit on your lap. Zoey is more independent and will come to you when she wants attention. Both girls are used to indoor/outdoor access and have lived with a dog.
    </p>

    <h1 style="color: purple; font-family: Arial, Helvetica, sans-serif;">About Me</h1>

    <p>Days in care: 3 <br>
        Approximate age: 4 years old<br>
        Breed: Domestic Short Hair Cat<br>
        Weight: 3.55 kg<br>
        Gender: Female<br>
        Location: Maple Ridge Branch, Maple Ridge B.C. (20km)<br>
        Animal ID: 533375<br>
        Spay or neuter surgery is included with the adoption of all dogs, cats and rabbits.</p>
</body>
</html>